<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="nav-bar"></div>
    
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img :src="image" alt="socks!">
            </div>

            <div class="product-info">
                <h1 :style="shadowStyle">{{ title }}</h1>

                <div v-show="onSale" style="color: darkviolet;font-weight: bold;">{{ sale }}</div>

                <p v-if="inStock">In Stock</p>
                <p v-else
                    :class="'out-of-stock'">Out of Stock</p>

                <ul :style="[detailsStyle, shadowStyle]">
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="(variant, index) in variants" 
                    :key="variant.variantId"
                    class="color-box"
                    :style="{ backgroundColor: variant.variantColor }"
                    @mouseover="updateProduct(index)">
                </div>

                <div class="cart">
                    <p>Cart({{ cart }})</p>
                </div>

                <div>
                    <button v-on:click="addToCart" 
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock }">Add to cart</button>
                </div>
                <div>
                    <button v-show="cart > 0" @click="removeFromCart">Remove from cart</button>
                </div>
            </div>

        </div>
    </div>

    <script src="../assets/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>